
/*maindiv styling*/
.main-card
{
	margin: 4rem;

}

.text-and-title {
    padding-right: 15rem;
    padding-left: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
    text-align: center;
}

/*styling main headline of the website*/
.card-container h1
{
	margin: 0.7rem 0 0.4rem;
    color: #03A9F4;
}
/*styling the small flag image in the headline*/
.card-container h1 img
{
	height: 2rem;
    margin-right: 0.5rem;
}
/*styling the description of the website*/
.card-container p{
	font-size: 1.2rem;
    color: #969393;
    margin-bottom: 1rem;
}
/*styling the each card*/
.card-payment
{
    border: none;
    margin: 7px;
	display: inline-block;
    width: 23.5%;
    background: #282c34;
    box-shadow: 1px 2px 10px #33333352;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.card-title-content {
    padding: 1rem;
    margin: 0.5rem 0.4%;
}

/*card Hover State*/
.card-payment:hover
{
	transform: scale(1.03);
	box-shadow: 2px 6px 10px #2f2f2f69;
}
/*styling the card images*/
.card-payment img
{
    border-radius: 1rem 1rem 0rem 0rem;
	width: 100%;
    margin-bottom: 0.8rem;
    height: 25vh;
}
/*styling card title*/
.card-payment h3
{
	color: white;
    margin-bottom: 0.5rem;
}
/*styling card description*/
.card-payment p
{
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
}

/* card color */
.card-purple {
    background-color: #c2185b;
}

.card-blue {
    background-color: #1976d2;
}

.card-red {
    background-color: #b71c1c;
}

.card-orange {
    background-color: #ff6f00;
}

.card-green {
    background-color: #558b2f;
}

@media only screen and (max-width: 1000px){
	.main-card {
    	margin: 3rem;
	}
	.card
	{
    	width: 48%;
    }
}

/*Under 600px styling 
For small devices*/
@media only screen and (max-width: 800px){
	.main-card {
    	margin: 2rem;
	}
	.card-payment
	{
    	width: 100%;
    	margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 1100px){
	.text-and-title {
    	padding-right: 0rem;
        padding-left: 0rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
	}

}
